* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color:hsl(120, 33%, 96%);
  overflow-x: hidden;
}

header {
  background-color:#fbfdfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 0rem;
  margin-top: 2rem;
  border-bottom: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

header img {
  height: 100px;
  width: 80px;
  background-color: #509995;
}

nav ul {
  list-style: none;
  display: flex;
  gap: -10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  margin-left: 10rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f9f4;
  gap: 40px;
  padding: 40px 20px;
}

.hero-left img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  margin-left: 0;
}

.hero-right {
  flex: 1;
  text-align: left;
}

.hero-right h1 {
  font-size: 3rem;
  color: #509995;
  padding: 10px 0;
  text-transform: uppercase;
}

.hero-right p {
  font-size: 15px;
  margin-left: 0;
  max-width: 400px;
  color: #4b9692;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.head-btn {
  margin-left: 0;
  padding: 10px 20px;
  background-color: #509995;
  color: white;
  border-radius: 50px;
  text-align: center;
}

.head-btn:hover {
  background-color: darkgray;
}

.choose-class {
  background-color: #509995;
  backdrop-filter: blur(8px);
  color: white;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.choose-class h2 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.section-desc {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.class-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.class-item {
  text-align: center;
  flex: 1 1 250px;
  max-width: 250px;
}

.class-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.class-item h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.class-item p {
  color: white;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.stats-section {
  text-align: center;
  padding: 60px 20px;
  background: url('images/Background.png') no-repeat center center/cover;
  background-color: #f2f9f4;
  font-family: 'Poppins', sans-serif;
  color: #509995;
  position: relative;
}

.stats-section::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.stats-section h2,
.stats-section p,
.stats-container {
  position: relative;
  z-index: 2;
}

.stats-section h2 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #3c7f7f;
}

.stats-section p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  margin-bottom: 40px;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.stat-box {
  text-align: center;
  max-width: 200px;
}

.stat-para {
  font-size: 14px;
  color: #3c7f7f;
  margin-top: 1rem;
}

.circle {
  width: 200px;
  height: 200px;
  border: 2px solid #509995;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0 auto 15px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.stat-number {
  font-size: 32px;
  font-weight: bold;
  color: #3c7f7f;
}

.instructor-section {
  width: 100%;
}

.instructor-row {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.instructor-row.reverse {
  flex-direction: row-reverse;
}

.text-box,
.image-box {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.text-box {
  background-color: #509995;
  color: #ffffff;
  flex-direction: column;
  text-align: left;
}

.text-box.white-bg {
  background-color: #ffffff;
  color: #333333;
}

.text-box h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.text-box p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.btn {
  padding: 12px 24px;
  background-color: #fff;
  color: #509995;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.btn.grey-bg {
  background-color: grey;
  color: #fff;
}

.image-box img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.pricing-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #509995;
}

.pricing-section h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.pricing-description {
  max-width: 700px;
  margin: 0 auto 40px auto;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: white;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.pricing-card {
  background: white;
  color: #2d867e;
  font-weight: 2rem bold;
  font-size: 1.2rem;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 350px;
  text-align: center;
}

.price-logo {
  width: 5rem;
  height: 5rem;
  margin-left: .5rem;
  vertical-align: middle;
}

.limited-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  margin-top: 2rem;
}

.price-btn {
  display: flex;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #2d867e;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  width: 15rem;
  align-items: center;
  justify-content: center;
}

.testimonial {
  background-image: url('images/Background2.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 120px 20px 60px;
  position: relative;
  color: #509995;
}

.testimonial-content {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  color: #509995;
  font-weight: bold;
}

.profile-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}

.flower-frame {
  position: absolute;
  width: 150%;
  height: 150%;
  z-index: 1;
  margin-top: -5rem;
  margin-left: -8rem;
}

.profile-pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-top: -4rem;
  margin-left: -2.5rem;
  object-fit: cover;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  border: 3px solid white;
}

.subscribe {
  text-align: center;
  padding: 60px 20px;
  background-color: #509995;
}

.subscribe h2 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}

.subscribe p {
  margin-bottom: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.subscribe-form input[type="email"] {
  padding: 10px 15px;
  width: 450px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 35px;
  font-size: 16px;
  text-align: left;
}

.subscribe-form .btn {
  padding: 25px 25px;
  background-color: whitesmoke;
  color: grey;
  margin-left: -4rem;
  border: none;
  border-radius: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer {
  background: #f2f9f4;
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.footer h4 {
  color: #509995;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.footer-links p {
  margin: 16px 0;
  color: #4b9692;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.footer-para {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: #4b9692;
}

footer p a {
  text-decoration: none;
  color: #4b9692;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer p img {
  vertical-align: middle;
  border-radius: 5px;
  color: #509995;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-left img {
    width: 80%;
    margin-left: 0;
  }

  .hero-right {
    padding: 10px;
  }

  .choose-class h2,
  .choose-class .section-desc {
    text-align: center;
  }

  .class-grid {
    flex-direction: column;
    align-items: center;
  }

  .class-item {
    margin-bottom: 20px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer > div {
    width: 90%;
    margin-bottom: 20px;
  }

  .footer-links {
    align-items: center;
  }

  .footer-links p {
    margin: 10px 0;
  }
}
